@model PropertyListViewModel


<div class="row">
    @foreach (var item in Model.Properties)
    {
        <div class="col-md-4 mb-4">
            <a asp-controller="Property" asp-action="Detail" asp-route-id="@item.PropertyId">
                <div class="card shadow-sm">
                    <div class="card-body">
                        @* <h5 class="card-title">Property ID: @item.PropertyId</h5> *@
                            <img src="@Url.Action("Get", "Image", new { id = 9 })" 
                                    class="img-fluid rounded" 
                                    alt="Property image" 
                                    style="width: 100%; height: 200px; object-fit: cover;"/>
                        <p class="card-text"><strong>Address:</strong> @item.PropertyAddress, @item.City, @item.Province</p>
                        <p class="card-text"><strong>Postal Code:</strong> @item.PostalCode</p>
                        <p class="card-text"><strong>Type:</strong> @item.PropertyType</p>
                        <p class="card-text"><strong>Build Year:</strong> @item.BuildYear</p>
                        <p class="card-text"><strong>Size:</strong> @item.SizeOfHouse sq.ft</p>
                        <p class="card-text"><strong>Bedrooms:</strong> @item.Bedrooms</p>
                        <p class="card-text"><strong>Bathrooms:</strong> @item.Bathrooms</p>
                        <p class="card-text"><strong>Status:</strong> @item.CurrentStatus</p>
                        <p class="card-text"><strong>Listed On:</strong> @item.ListingDate.ToString("yyyy-MM-dd")</p>
                        @if (item.RentalPrice.HasValue)
                        {
                            <p class="card-text"><strong>Rental Price:</strong> $@item.RentalPrice</p>
                        }
                        @if (item.SellingPrice.HasValue)
                        {
                            <p class="card-text"><strong>Selling Price:</strong> $@item.SellingPrice</p>
                        }
                        @* <p class="card-text"><strong>Description:</strong> @item.Description</p> *@
                    </div>
                </div>

            </a>
        </div>
    }
</div>