
@model RentalRecordListViewModel

@{

    // nested layout view
    Layout = "_ContractNavbar";

    ViewData["Title"] = " | Manage Records";
    
    RentalRecordGridData current = Model.CurrentRoute;
    GridData routes = Model.CurrentRoute.Clone();
}




<li class="list-group-item">
    <h5 class="mt-1"><a asp-action="Add">Add a Rental Record</a></h5>
</li>

@* <a href="@Url.Action("Add", "Book")" class="btn btn-primary">Create Record</a> *@
 
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>RentalRecordId</th>
            <th>OwnerCustomerId</th>
            <th>TenantCustomerId</th>
            <th>PropertyId</th>
            <th>ContractTerms</th>
            <th>
                @{ routes.SetSortAndDirection(
                    nameof(RentalRecord.RentalPrice), current); }
                <a asp-action="ListRentals" 
                    asp-all-route-data="@routes.ToDictionary()"
                    class="text-decoration-none">RentalPrice&nbsp;<i class="bi bi-arrows-vertical"></i></a>
                
            </th>
            <th>
                @{ routes.SetSortAndDirection(
                    nameof(RentalRecord.DepositPrice), current); }
                <a asp-action="ListRentals" 
                    asp-all-route-data="@routes.ToDictionary()"
                    class="text-decoration-none">DepositPrice&nbsp;<i class="bi bi-arrows-vertical"></i></a>
                
            </th>
            <th>
                @{ routes.SetSortAndDirection(
                    nameof(RentalRecord.StartDate), current); }
                <a asp-action="ListRentals" 
                    asp-all-route-data="@routes.ToDictionary()"
                    class="text-decoration-none">StartDate&nbsp;<i class="bi bi-arrows-vertical"></i></a>
            </th>
            <th>
                @{ routes.SetSortAndDirection(
                    nameof(RentalRecord.EndDate), current); }
                <a asp-action="ListRentals" 
                    asp-all-route-data="@routes.ToDictionary()"
                    class="text-decoration-none">EndDate&nbsp;<i class="bi bi-arrows-vertical"></i></a>
            </th>
            <th>IsFinalized</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var RentalContract in Model.RentalRecords)
        {
            <tr>
                <td>@RentalContract.RentalRecordId</td>
                <td>@RentalContract.OwnerCustomerId</td>
                <td>@RentalContract.TenantCustomerId</td>
                <td>@RentalContract.PropertyId</td>
                <td>@RentalContract.ContractTerms</td>
                <td>@RentalContract.RentalPrice</td>
                <td>@RentalContract.DepositPrice</td>
                <td>@RentalContract.StartDate</td>
                <td>@RentalContract.EndDate</td>
                <td>@RentalContract.IsFinalized</td>
                <td>
                    <div class="d-inline-flex align-items-center gap-1">
                        <a href="@Url.Action("Edit", "Book", new { id = RentalContract.RentalRecordId })"
                            class="btn btn-sm btn-info"><i class="bi bi-pencil"></i>Edit</a>
                        <form asp-action="Delete" asp-controller="Book" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@RentalContract.RentalRecordId" />
                            <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@* paging links *@
@{
    @* Reset to the current route values. This is necessary to clear the changes made while 
        creating the sorting links above. *@
    routes = current.Clone();

    for (int i = 1; i <= Model.TotalPages; i++)
    {
        routes.PageNumber = i;
        string active = @Nav.Active(i, current.PageNumber);
        <a asp-action="ListSales" asp-all-route-data="@routes.ToDictionary()"
           class="btn btn-outline-primary @active">@i</a>
    }
}